.faq-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 40px;
  padding: 0 80px;

  .tab {
    border-right: 1px solid white;
    padding-right: 40px;

    a {
      color: white;
      font-size: $large;
      text-decoration: none;
      transition: all 0.25s;

      &:hover { text-decoration: underline }
    }

    &:last-child { border-right: none; }
  }
}

.faq-container {
  margin-top: 50px;
  padding: 0 80px;
}

.faq-toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.faq-row {
  .question {
    font-size: $xx-large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid white;
    color: white;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    text-transform: none;
    transition: all
  }

  .question::after {
    content: url('/assets/world/2025/icons/chevron.svg');
    padding: 0.51rem;
    text-align: center;
    transition: all 0.35s;
  }

  .answer {
    color: white;
    font-size: $medium;
    max-height: 0;
    padding-bottom: 20px;
    transition: all 0.35s;
    display: none;
  }
}

.faq-toggle:checked + .question {
  border-top: 2px solid $pink;
}

.faq-toggle:checked + .question::after {
  content: url('/assets/world/2025/icons/chevron_pink.svg');
  rotate: 90deg;
}

.faq-toggle:checked ~ .answer {
  max-height: 100vh;
  display: block;
  transition: all 0.35s;
}
