<div class="agenda-tabs">
  <div class="tab one {{ dayOneActive }}" role="button" tabindex="0" title="Day One"
    aria-label="View day one agenda" onclick="openWindow('/world/2024/agenda/day-1')"
    onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/agenda/day-1')">
    <p>Day 1</p>
  </div>

  <div class="tab two {{ dayTwoActive }}" role="button" tabindex="0" title="Day Two"
    aria-label="View day two agenda" onclick="openWindow('/world/2024/agenda/day-2')"
    onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/agenda/day-2')">
    <p>Day 2</p>
  </div>
</div>
