---
layout: world/2025/default
permalink: /world/2025
redirect_from: /world/2025/
---

<div class="landing-page">
  <div class="banner">
    <img src="/assets/world/2025/images/RW25_logo-white-square.png" alt="Rails World 2025 Square Logo" id="logo-world-2025"/>
    <a href="" class="button-text-gradient"><span>Get your ticket now</span></a>
  </div>

  {% include world/2025/sections/intro.html %}
  {% include world/2025/sections/speakers.html %}
  {% include world/2025/sections/sponsors.html %}
</div>
